.status-text {
  display: inline;
  color: #4d5c84;
  font-weight: 400;
  font-size: 1.6rem;
}

.status-number {
  display: inline;
  font-weight: 100;
  color: #4d5c84;
  font-size: 2.2rem;
}

.status-divider {
  display: inline-block;
  height: 50px;
  width: 1px;
  background-color: #4d5c84;
}

.status-divider-min {
  height: 20px !important;
}

.status-description {
  font-weight: 300;
  font-size: 1rem;
}

.table-sm{
  width: 90%;
}

table{
  cursor: pointer;
}


