<div class="container-fluid">
  <div class="row">
    <app-side-bar></app-side-bar>
    <div class="col main-content">
      <!-- Status Cards -->
      <div class="row">
        <!-- Ready -->
        <div class="col-12 col-lg-12 col-xl-3 mt-md-1 mt-3">
          <div class="card">
            <div class="card-body text-center">
              <span class="status-text align-middle mr-3">Ready</span>
              <div class="status-divider align-middle"></div>
              <span class="mx-3 align-middle status-number">487</span>
            </div>
          </div>
        </div>
        <!-- End of Ready -->

        <!-- Pending -->
        <div class="col-12 col-lg-12 col-xl-6 mt-md-1 mt-3">
          <div class="card">
            <div class="card-body text-center">
              <span class="status-text align-middle mr-3">Orders</span>
              <div class="status-divider align-middle"></div>

                <span class="ml-3 align-middle status-description">High</span>
                <span class="mx-2 align-middle status-number">784</span>

              <div class="status-divider status-divider-min align-middle mx-2"></div>
              <span class="mx-2 align-middle status-description">Medium</span>
              <span class="mx-2 align-middle status-number">100</span>
              <div class="status-divider status-divider-min align-middle mx-2"></div>
              <span class="mx-2 align-middle status-description">Low</span>
              <span class="mx-2 align-middle status-number">345</span>
            </div>
          </div>
        </div>
        <!-- End of Pending -->

        <!-- Delivered -->
        <div class="col-12 col-lg-12 col-xl-3 mt-md-1 mt-3">
          <div class="card">
            <div class="card-body text-center">
              <span class="status-text align-middle mr-3">Delivered</span>
              <div class="status-divider align-middle"></div>
              <span class="mx-3 align-middle status-number">894</span>
            </div>
          </div>
        </div>
        <!-- End of delivered -->
      </div>
      <!-- End of status cards -->

      <!-- Last schedule -->
      <div class="row">
        <div class="col-12">
          <div class="card bg-primary mt-5">
            <div class="card-body text-center">
              <span class="text-white status-text"
                >Last schedule on - 2020/04/03 @ 10.30 am</span
              >
            </div>
          </div>
        </div>
      </div>
      <!-- End of last schedule -->

      <!-- start of Urgency level-->
      <app-urgency-level></app-urgency-level>
      <!-- End of Urgency level-->

      <!-- Schedule table -->
      <div class="row">
        <div class="col-12">
          <div class="card mt-5">
            <div class="d-flex flex-row-reverse">
              <button type="button" class="btn btn-primary w-25 my-4 mr-4">
                Run Schedule
              </button>
            </div>
            <div class="table-responsive">
            <table class="table ">
              <thead class="thead-light">
                <tr >
                  <th class="text-primary" scope="col">Route</th>
                  <th class="text-primary" scope="col">Vehicle type</th>
                  <th class="text-primary" scope="col">Assigned Vehicle ID</th>
                  <th class="text-primary" scope="col">Assigned Driver ID</th>
                  <th class="text-primary" scope="col">Current Status</th>
                  <th class="text-primary" scope="col">More</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>#79341</td>
                  <td>Lorry</td>
                  <td>DAC-2244</td>
                  <td>#2564879</td>
                  <td>In-progress</td>
                  <td>
                    <div class="btn-group" dropdown>
                      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"><span class="caret"></span>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem"><a class="dropdown-item" (click)="openAssignDriverModal()">Assign Driver</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="openAssignVehicleModal()">Assign Vehicle</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="openOrderListModal()">View Order List</a></li>
                      </ul>
                    </div>

                  </td>

                </tr>
                <tr>
                  <td>#79342</td>
                  <td>Van</td>
                  <td>PH-9991</td>
                  <td>#2565479</td>
                  <td>Not started</td>
                  <td>
                    <div class="btn-group" dropdown>
                      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"><span class="caret"></span>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem"><a class="dropdown-item" (click)="openAssignDriverModal()">Assign Driver</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="openAssignVehicleModal()">Assign Vehicle</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="openOrderListModal()">View Order List</a></li>
                      </ul>
                    </div>

                  </td>
                </tr>
                <tr>
                  <td>#79343</td>
                  <td>Bike</td>
                  <td>BAD-6245</td>
                  <td>#2564458</td>
                  <td>Finished</td>
                  <td>
                    <div class="btn-group" dropdown>
                      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"><span class="caret"></span>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem"><a class="dropdown-item" (click)="openAssignDriverModal()">Assign Driver</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="openAssignVehicleModal()">Assign Vehicle</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="openOrderListModal()">View Order List</a></li>
                      </ul>
                    </div>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>

      <!-- End of schedule table -->


<!-- 
      <app-view-route [order]="test"></app-view-route> -->
    </div>
  </div>
</div>


