<div class="row">
    <div class="col-12">
      <div class="card mt-5">
          <div class="container" style="color: black;">
              <br>
            <h4>Select the Urgency Levels for Separating Orders to Vehicles</h4><br><hr>
            <div class="row">
                <div class="col">
                    <ui-switch
                    color="#FF6961"
                    checkedTextColor="white"
                    (valueChange)="onValueChange($event,'high')"
                    checkedLabel="Selected urgency level-High"
                    uncheckedLabel="Urgency level-High"
                    ></ui-switch>
                    
                </div>
                <div class="col">
                    <ui-switch
                    color="#FFD700"
                    
                    (valueChange)="onValueChange($event,'meduim')"
                    checkedLabel="Selected urgency level-Medium"
                    uncheckedLabel="Urgency level-Medium"
                    ></ui-switch>
                   
                </div>
                <div class="col">
                    <ui-switch
                    color="#50C878"
                    checkedTextColor="white"
                    (valueChange)="onValueChange($event,'low')"
                    checkedLabel="Selected urgency level-Low"
                    uncheckedLabel="Urgency level-Low"
                    ></ui-switch>
                    
                </div>
            </div>
          </div>  
          <hr>
          
          <div call="col-12 col-md-6" id="map" style="height: 400px;width: 100%;">
            
            <div class="d-flex flex-row-reverse">
                <button type="button" (click)="openVerticallyCentered(content)" class="btn btn-primary w-25 my-4 mr-4">
                  make Grouping
                </button>
              </div>
      </div>
    </div>
</div>

<ng-template #content let-modal>
      <div class="modal-body" >
          <div *ngIf="showLoader">
            <p >Grouping is in progress</p>
            <img src="/assets/img/loader.gif" />
            <p>Please wait...</p>
          </div>
        <ngb-alert
            *ngIf="clusterMessage != null && !showLoader"
            [type]="'success'"
            style="max-width: 500px"
            (close)="closeUpdateAlert()"
            >{{ clusterMessage }}</ngb-alert
          >
      </div>
  </ng-template>

