<div class="container-fluid">
  <div class="row">
    <app-side-bar></app-side-bar>

    <!-- Content of Admin Dashboard -->
    <div class="col main-content">
      <!-- Status Cards -->
      <div class="row">
        <!-- Ready -->
        <div class="col-12 col-lg-12 col-xl-3 mt-md-1 mt-3">
          <div class="card">
            <div class="card-body text-center">
              <span class="status-text align-middle mr-3">Ready</span>
              <div class="status-divider align-middle"></div>
              <span class="mx-3 align-middle status-number">487</span>
            </div>
          </div>
        </div>
        <!-- End of Ready -->

        <!-- Pending -->
        <div class="col-12 col-lg-12 col-xl-6 mt-md-1 mt-3">
          <div class="card">
            <div class="card-body text-center">
              <span class="status-text align-middle mr-3">Pending</span>
              <div class="status-divider align-middle"></div>

              <span class="ml-3 align-middle status-description">High</span>
              <span class="mx-2 align-middle status-number">78</span>

              <div
                class="status-divider status-divider-min align-middle mx-2"
              ></div>
              <span class="mx-2 align-middle status-description">Medium</span>
              <span class="mx-2 align-middle status-number">100</span>
              <div
                class="status-divider status-divider-min align-middle mx-2"
              ></div>
              <span class="mx-2 align-middle status-description">Low</span>
              <span class="mx-2 align-middle status-number">345</span>
            </div>
          </div>
        </div>
        <!-- End of Pending -->

        <!-- Delivered -->
        <div class="col-12 col-lg-12 col-xl-3 mt-md-1 mt-3">
          <div class="card">
            <div class="card-body text-center">
              <span class="status-text align-middle mr-3">Delivered</span>
              <div class="status-divider align-middle"></div>
              <span class="mx-3 align-middle status-number">894</span>
            </div>
          </div>
        </div>
        <!-- End of delivered -->
      </div>
      <!-- End of status cards -->

      <hr />
      <app-order-dimension-table></app-order-dimension-table>

      <!-- End content of Admin Dashboard -->
    </div>
  </div>
</div>
