<div class="container-fluid">
  <div class="row">
    <app-side-bar></app-side-bar>

      <!-- Content of Vehicle management -->
      <div class="col main-content">
          <!-- Vehicle Content -->
          <div class="row justify-content-center">
              <!-- vehicle list -->
              <div class="col-12 col-md-12 col-lg-5">
                  <div class="card content">
                      <div class="card-body">
                          <h4 class="card-title Vtext">Vehicles</h4>
                          <br>
                          <div class="input-group mb-4">
                            <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="searchText"
                            placeholder="Search Vehicle by License number"
                            (keyup)="onSearch()"
                          />
                          <div class="input-group-append">
                            <button
                              class="btn btn-outline-primary search-bar"
                              type="button"
                              (click)="onSearch()"
                            >
                              <i-feather class="mr-2" name="search"></i-feather>
                            </button>
                          </div>
                          </div>
                          <div
                            *ngIf="
                              vehicles != null;
                              then renderVehicleList;
                              else loadingVehicleList
                            "
                          ></div>
                           <!-- Vehicle name list -->
                          <ng-template #renderVehicleList>
                            <ul class="list-unstyled" >
                              <li class="align-items-center py-1" *ngFor="let vehicle of vehiclesFilter || vehicles" (click)="onVehicleSeletected(vehicle)">
                                  <div class="row">
                                      <div class="col-0.5 circle"></div>
                                      <div class="col-5 col-md-8 Vtext">{{vehicle.license_plate}}</div>
                                      
                                      <div class="col-1">
                                          <div class="input-group-btn">
                                              <button class="btn btn-default" type="submit" (click)="onDelete(vehicle)"> <i-feather class="mr-2 trash_icon" name="trash-2"></i-feather></button>
                                          </div>
                                      </div>
                                  </div>
                              </li>       
                            </ul>
                          </ng-template> 
                          <ng-template #loadingVehicleList>
                            <div class="row" style="min-height: 550px;">
                              <div class="col-12 my-auto text-center">
                                <i-feather name="loader"></i-feather>
                              </div>
                            </div>
                          </ng-template>
                        
                          
                      </div>
                  </div>
              </div>

              <!-- Vehicle type content -->
              <div class="col-12 col-md-12 col-lg-7 mt-3 mt-md-0 ">
                  <!-- Vehicle Register card -->
                  <div class="card content">
                      <div class="card-body">
                         <!-- nav angular system  -->
                        <ul ngbNav #nav="ngbNav" class="nav-tabs">
                            <li ngbNavItem>
                              <a ngbNavLink class="btn-btn-primary">Details</a>
                              <ng-template ngbNavContent>
                                <div
                                  *ngIf="
                                  selectedVehicle != null;
                                  then renderDetails;
                                   else selectAVehicle
                                  "
                                 ></div>
                                 <ng-template #renderDetails>
                                  <form [formGroup]="AddVehicleForm">
                                    <div class="row">
                                        <!-- register in setup -->
                                        <div class="col-5 col-md-8 col-lg-9 py-2">

                                          <div class="form-group">
                                            <label for="">Lincense Plate Number</label>
                                            <input
                                              id="linces"
                                              formControlName="license_plate"
                                              type="text"
                                              value="{{selectedVehicle.license_plate}}"
                                              class="form-control"
                                              placeholder="Linces Plate No"
                                              [ngClass]="{ 'is-invalid': (license_plate.touched && license_plate.invalid)}"
                                            />
                                            <div *ngIf="!license_plate.value" class="invalid-feedback">
                                              Lisence Plate Number is required
                                             </div>
                                        </div>
                                            <div class="form-group">
                                                <label for="">Vehicle Type</label>
                                                <select class="form-control" id="vehicleType" formControlName="vehicle_type" [ngClass]="{ 'is-invalid': (vehicle_type.touched && vehicle_type.invalid)  }">
                                                  <option *ngFor="let type of vehiclesType" value='{{type._id}}' [selected]="selectedVehicle.vehicle_type._id == type._id">{{type.type}}</option>
                                                </select>
                                                <div *ngIf="!vehicle_type.value" class="invalid-feedback">
                                                  Vehicle Type is required
                                                 </div>
                                            </div>
                                            <!-- <div class="form-group">
                                                <label for="">Capacity</label>
                                                <input
                                                  id="Volume"
                                                  formControlName="capacity"
                                                  value="{{selectedVehicle.capacity}}"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Volume in M ^ 3"
                                                  [ngClass]="{ 'is-invalid': (capacity.touched && capacity.invalid)  }"
                                                />
                                                <div *ngIf="!capacity.value" class="invalid-feedback">
                                                  Capacity is required
                                                 </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                  <label for="">Load</label>
                                                <input
                                                  id="Load"
                                                  formControlName="load"
                                                  type="text"
                                                  value="{{selectedVehicle.load}}"
                                                  class="form-control"
                                                  placeholder="Load"
                                                  [ngClass]="{ 'is-invalid': (load.touched && load.invalid)  }"
                                                />
                                                <div *ngIf="!load.value" class="invalid-feedback">
                                                  Load is required
                                                 </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Fuel economy</label>
                                                <input
                                                  id="Fuel"
                                                  formControlName="fuel_economy"
                                                  type="text"
                                                  value="{{selectedVehicle.fuel_economy}}"
                                                  class="form-control"
                                                  placeholder="Fuel economy Km/L"
                                                  [ngClass]="{ 'is-invalid': (fuel_economy.touched && fuel_economy.invalid)  }"
                                                />
                                                <div *ngIf="!fuel_economy.value" class="invalid-feedback">
                                                  Fuel economy is required
                                                 </div>
                                            </div> -->

                                            <ngb-alert
                                      *ngIf="vehicleUdpateMessage != null"
                                      [type]="'success'"
                                      style="max-width: 500px"
                                      (close)="closeUpdateAlert()"
                                      >{{ vehicleUdpateMessage }}</ngb-alert
                                    >
                                        </div>
                                        <!-- register pic and save or close -->
                                        <div class="col-1 col-md-3 col-lg-3">
                                            <div class="big_circle align ml-5"></div>
                                            <br><br><br><br>
                                            <button type="submit" class="btn btn-primary ml-5 button"
                                            (click)="confirmUpdate(areYouSure)"
                                  [disabled]="
                                    !AddVehicleForm.valid ||
                                    AddVehicleForm.pristine
                                  "
                                            > Save </button>
                                            <br><br>
                                            <button type="submit" class="btn btn-primary ml-5 button" (click)="updateFormReset()">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                                 </ng-template>
                                
                              </ng-template>
                              <ng-template #selectAVehicle>
                                <div class="row" style="min-height: 550px;">
                                  <div class="col-12 my-auto">
                                    <h5 class="text-primary text-center">
                                      Select a vehicle to view details
                                    </h5>
                                  </div>
                                </div>
                            </ng-template>
                            </li>
                            <li ngbNavItem>
                              <a ngbNavLink class="btn-btn-primary">Add new Vehicle</a>
                              <ng-template ngbNavContent>
                                <form [formGroup]="NewVehicleForm">
                                    <div class="row">
                                        <!-- register in setup -->
                                        <div class="col-5 col-md-8 col-lg-9 py-2">
                                            <div class="form-group">
                                                <label for="">Vehicle Type</label>
                                                <select class="form-control" id="vehicleType"  formControlName="Newvehicle_type" [ngClass]="{ 'is-invalid': (Newvehicle_type.touched && Newvehicle_type.invalid)  }">
                                                  <option *ngFor="let type of vehiclesType" value='{{type._id}}'>{{type.type}}</option>
                                                </select>
                                                <div *ngIf="!Newvehicle_type.value" class="invalid-feedback">
                                                  Vehicle Type is required
                                                 </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Lincense Plate Number</label>
                                                <input
                                                  id="linces"
                                                  formControlName="Newlicense_plate"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Linces Plate No"
                                                  [ngClass]="{ 'is-invalid': (Newlicense_plate.touched && Newlicense_plate.invalid) }"
                                                />
                                                <div *ngIf="!Newlicense_plate.value" class="invalid-feedback">
                                                  Lisence Plate Number is required
                                                 </div>
                                            </div>
                                            <!-- <div class="form-group">
                                                <label for="">Capacity</label>
                                                <input
                                                  id="Volume"
                                                  formControlName="Newcapacity"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Volume in M ^ 3"
                                                  [ngClass]="{ 'is-invalid': (Newcapacity.touched && Newcapacity.invalid)  }"
                                                />
                                                <div *ngIf="!Newcapacity.value" class="invalid-feedback">
                                                  Capacity is required
                                                 </div>
                                            </div>
                                                 <div class="form-group">
                                                  <label for="">Load</label>
                                                <input
                                                  id="Load"
                                                  formControlName="Newload"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Load"
                                                  [ngClass]="{ 'is-invalid': (Newload.touched && Newload.invalid)  }"
                                                />
                                                <div *ngIf="!Newload.value" class="invalid-feedback">
                                                  Load is required
                                                 </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Fuel economy</label>
                                                <input
                                                  id="Fuel"
                                                  formControlName="Newfuel_economy"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Fuel economy Km/L"
                                                  [ngClass]="{ 'is-invalid': (Newfuel_economy.touched && Newfuel_economy.invalid)  }"
                                                />
                                                <div *ngIf="!Newfuel_economy.value" class="invalid-feedback">
                                                  Fuel economy is required
                                                 </div>
                                            </div> -->

                          <ngb-alert
                            *ngIf="vehicleUdpateMessage != null"
                            [type]="'success'"
                            style="max-width: 500px"
                            (close)="closeUpdateAlert()"
                            >{{ vehicleUdpateMessage }}</ngb-alert
                          >
                        </div>
                        <!-- register pic and save or close -->
                        <div class="col-1 col-md-3 col-lg-3">
                          <div class="big_circle align ml-5"></div>
                          <br /><br /><br /><br />
                          <button
                            type="submit"
                            class="btn btn-primary ml-5 button"
                            (click)="confirmUpdate(areYouSureNew)"
                            [disabled]="!NewVehicleForm.valid"
                          >
                            Save
                          </button>
                          <br /><br />
                          <button
                            type="submit"
                            class="btn btn-primary ml-5 button"
                            (click)="NewFormReset()"
                          >
                            Cancel
                          </button>
                        </div>
                      </div>
                    </form>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink class="btn-btn-primary">Add new Vehicle Type</a>
                  <ng-template ngbNavContent>
                    <form [formGroup]="NewTypeForm">
                      <div class="row">
                        <!-- register in setup -->
                        <div class="col-5 col-md-8 col-lg-9 py-2">
                          <div class="form-group">
                            <label for="">Vehicle Type</label>
                            <input
                              type="text"
                              class="form-control"
                              formControlName="NewTypevehicle_type"
                              [ngClass]="{
                                'is-invalid':
                                  NewTypevehicle_type.touched &&
                                  NewTypevehicle_type.invalid
                              }"
                            />
                            <div
                              *ngIf="!NewTypevehicle_type.value"
                              class="invalid-feedback"
                            >
                              Vehicle Type is required
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="">Volume (in Litres)</label>
                            <input
                              id="Volume"
                              formControlName="NewTypecapacity"
                              type="text"
                              class="form-control"
                              placeholder="Volume in Litres"
                              [ngClass]="{
                                'is-invalid':
                                  NewTypecapacity.touched &&
                                  NewTypecapacity.invalid
                              }"
                            />
                            <div
                              *ngIf="!NewTypecapacity.value"
                              class="invalid-feedback"
                            >
                              Volume is required
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="">max Load (in Kg)</label>
                            <input
                              id="Load"
                              formControlName="NewTypeload"
                              type="text"
                              class="form-control"
                              placeholder="Load"
                              [ngClass]="{
                                'is-invalid':
                                  NewTypeload.touched && NewTypeload.invalid
                              }"
                            />
                            <div
                              *ngIf="!NewTypeload.value"
                              class="invalid-feedback"
                            >
                              max_Load is required
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="">Fuel economy</label>
                            <input
                              id="Fuel"
                              formControlName="NewTypefuel_economy"
                              type="text"
                              class="form-control"
                              placeholder="Fuel economy Km/L"
                              [ngClass]="{
                                'is-invalid':
                                  NewTypefuel_economy.touched &&
                                  NewTypefuel_economy.invalid
                              }"
                            />
                            <div
                              *ngIf="!NewTypefuel_economy.value"
                              class="invalid-feedback"
                            >
                              Fuel economy is required
                            </div>
                          </div>

                          <ngb-alert
                            *ngIf="vehicleUdpateMessage != null"
                            [type]="'success'"
                            style="max-width: 500px"
                            (close)="closeUpdateAlert()"
                            >{{ vehicleUdpateMessage }}</ngb-alert
                          >
                          <ngb-alert
                            *ngIf="vehicleUdpateMessage != null"
                            [type]="'success'"
                            style="max-width: 500px"
                            (close)="closeErrorAlert()"
                            >{{ vehicleErrorMessage }}</ngb-alert
                          >
                        </div>
                        <!-- register pic and save or close -->
                        <div class="col-1 col-md-3 col-lg-3">
                          <div class="big_circle align ml-5"></div>
                          <br /><br /><br /><br />
                          <button
                            type="submit"
                            class="btn btn-primary ml-5 button"
                            (click)="confirmUpdate(areYouSureNewType)"
                          >
                            Save
                          </button>
                          <br /><br />
                          <button
                            type="submit"
                            class="btn btn-primary ml-5 button"
                            (click)="NewFormReset()"
                          >
                            Cancel
                          </button>
                        </div>
                      </div>
                    </form>
                  </ng-template>
                </li>

                <li ngbNavItem>
                  <a ngbNavLink class="btn-btn-primary">Update Vehicle Type</a>
                  <ng-template ngbNavContent>
                    <form [formGroup]="UpdateTypeForm">
                      <div class="row">
                        <!-- register in setup -->
                        <div class="col-5 col-md-8 col-lg-9 py-2">
                          <div class="form-group">
                            <label for="">Vehicle Type</label>
                            <select
                              class="form-control"
                              [(ngModel)]="selectedValue"
                              (ngModelChange)="
                                assignCorporationToManage($event)
                              "
                              formControlName="UpdateTypevehicle_type"
                              [ngClass]="{
                                'is-invalid':
                                  UpdateTypevehicle_type.touched &&
                                  UpdateTypevehicle_type.invalid
                              }"
                            >
                              <option
                                *ngFor="let type of vehiclesType"
                                [ngValue]="type"
                                value="{{ type._id }}"
                              >
                                {{ type.type }}
                              </option>
                            </select>
                            <div
                              *ngIf="!UpdateTypevehicle_type.value"
                              class="invalid-feedback"
                            >
                              Vehicle Type is required
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="">Volume (in Litres)</label>
                            <input
                              id="Volume"
                              formControlName="UpdateTypecapacity"
                              type="text"
                              class="form-control"
                              placeholder="Volume in Litres"
                              [ngClass]="{
                                'is-invalid':
                                  UpdateTypecapacity.touched &&
                                  UpdateTypecapacity.invalid
                              }"
                            />

                            <div
                              *ngIf="!UpdateTypecapacity.value"
                              class="invalid-feedback"
                            >
                              Volume is required
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="">Max Load (in kg)</label>
                            <input
                              id="Load"
                              formControlName="UpdateTypeload"
                              type="text"
                              class="form-control"
                              placeholder="Load"
                              [ngClass]="{
                                'is-invalid':
                                  UpdateTypeload.touched &&
                                  UpdateTypeload.invalid
                              }"
                            />
                            <div
                              *ngIf="!UpdateTypeload.value"
                              class="invalid-feedback"
                            >
                              max load is required
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="">Fuel economy (in km/l)</label>
                            <input
                              id="Fuel"
                              formControlName="UpdateTypefuel_economy"
                              type="text"
                              class="form-control"
                              placeholder="Fuel economy Km/L"
                              [ngClass]="{
                                'is-invalid':
                                  UpdateTypefuel_economy.touched &&
                                  UpdateTypefuel_economy.invalid
                              }"
                            />
                            <div
                              *ngIf="!UpdateTypefuel_economy.value"
                              class="invalid-feedback"
                            >
                              Fuel economy is required
                            </div>
                          </div>
                          <ngb-alert
                            *ngIf="vehicleUdpateMessage != null"
                            [type]="'success'"
                            style="max-width: 500px"
                            (close)="closeUpdateAlert()"
                            >{{ vehicleUdpateMessage }}</ngb-alert
                          >
                        </div>
                        <!-- register pic and save or close -->
                        <div class="col-1 col-md-3 col-lg-3">
                          <div class="big_circle align ml-5"></div>
                          <br /><br /><br /><br />
                          <button
                            type="submit"
                            class="btn btn-primary ml-5 button"
                            (click)="confirmUpdate(areYouSureUpdateType)"
                          >
                            Save
                          </button>
                          <br /><br />
                          <button
                            type="submit"
                            class="btn btn-primary ml-5 button"
                            (click)="NewFormReset()"
                          >
                            Cancel
                          </button>
                        </div>
                      </div>
                    </form>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav" class="mt-2"></div>

              <!-- confirmation modal (template variable called in comfirmUpdate(areYouSure) ) -->
              <ng-template #areYouSure>
                <div class="modal-body text-center">
                  <h4 class="mb-2 text-primary">Are you sure?</h4>
                  <p class="mb-3">
                    Now you are requesting to update the record of<br />
                    <b class="d-inline-block"
                      >{{ selectedVehicle.license_plate }}
                    </b>
                    <br />
                    click Yes to proceed and No to revert
                  </p>
                  <div class="text-center">
                    <button
                      type="button"
                      class="mx-2 btn btn-default"
                      (click)="confirm()"
                    >
                      Yes
                    </button>
                    <button
                      type="button"
                      class="mx-2 btn btn-primary"
                      (click)="decline()"
                    >
                      No
                    </button>
                  </div>
                </div>
              </ng-template>
              <!-- end-of confiramation modal -->

              <ng-template #areYouSureNew>
                <div class="modal-body text-center">
                  <h4 class="mb-2 text-primary">Are you sure?</h4>
                  <p class="mb-3">
                    Now you are requesting to add a new record<br />
                    <br />
                    click Yes to proceed and No to revert
                  </p>
                  <div class="text-center">
                    <button
                      type="button"
                      class="mx-2 btn btn-default"
                      (click)="confirmNew()"
                    >
                      Yes
                    </button>
                    <button
                      type="button"
                      class="mx-2 btn btn-primary"
                      (click)="declineNew()"
                    >
                      No
                    </button>
                  </div>
                </div>
              </ng-template>

              <ng-template #areYouSureNewType>
                <div class="modal-body text-center">
                  <h4 class="mb-2 text-primary">Are you sure?</h4>
                  <p class="mb-3">
                    Now you are requesting to add a new Type<br />
                    <br />
                    click Yes to proceed and No to revert
                  </p>
                  <div class="text-center">
                    <button
                      type="button"
                      class="mx-2 btn btn-default"
                      (click)="confirmNewType()"
                    >
                      Yes
                    </button>
                    <button
                      type="button"
                      class="mx-2 btn btn-primary"
                      (click)="declineNewType()"
                    >
                      No
                    </button>
                  </div>
                </div>
              </ng-template>

              <ng-template #areYouSureUpdateType>
                <div class="modal-body text-center">
                  <h4 class="mb-2 text-primary">Are you sure?</h4>
                  <p class="mb-3">
                    Now you are requesting to update the Type<br />

                    <br />
                    click Yes to proceed and No to revert
                  </p>
                  <div class="text-center">
                    <button
                      type="button"
                      class="mx-2 btn btn-default"
                      (click)="confirmUpdateType()"
                    >
                      Yes
                    </button>
                    <button
                      type="button"
                      class="mx-2 btn btn-primary"
                      (click)="declineUpdateType()"
                    >
                      No
                    </button>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
          <br /><br />
          <!-- vehicle type card
                  <div class="card">
                    <div class="card-body">
                      <form>
                          <div class="row">
                            <div class="col-5 col-md-8 col-lg-9 py-2">
                                <div class="form-group">
                                    <label for="">Select Vehicle Type</label>
                                    <select class="form-control" id="vehicleType">
                                      <option *ngFor="let type of vehiclesType" value='{{type._id}}'>{{type.type}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">License No</label>
                                    <select class="form-control" id="License">
                                      <option *ngFor="let vehicle of vehicles" value='{{vehicle._id}}'>{{vehicle.license_plate}}</option>
                                    </select>
                                </div>
                            </div>
                            Vehicle pic add clear
                            <div class="col-1 col-md-3 col-lg-3">
                                <div class="big_circle align ml-5"></div>
                                <br>
                                <button type="submit" class="btn btn-primary ml-5 button"> Add [+] </button>
                                <br><br>
                                <button type="submit" class="btn btn-primary ml-5 button">Clear</button>
                            </div>
                          </div>
                      </form>
                    </div>
                  </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
