<div class="container-fluid">
    <div class="row">
      <app-side-bar></app-side-bar>

      <!-- Content of Vehicle management -->
      <div class="col main-content">
          <!-- Vehicle Content -->
          <div class="row justify-content-center">
              <!-- vehicle list -->
              <div class="col-12 col-md-12 col-lg-5">
                  <div class="card">
                      <div class="card-body">
                          <h4 class="card-title Vtext">Vehicles</h4>
                          <br>
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search"  name="search" width="40px">
                          </div>
                          <br>
                          <!-- Vehicle name list -->
                          <ul class="nav flex-column" >
                            <li class="nav-item">
                                <div class="row">
                                    <div class="col-0.5 circle"></div>
                                    <div class="col-5 col-md-8 text">Lorry BFC-9852</div>
                                    <div class="col-1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"> <span class="mr-2 wrong_icon" name="x-circle"></span></button>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"> <i-feather class="mr-2 trash_icon" name="trash-2"></i-feather></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="row">
                                    <div class="col-0.5 circle"></div>
                                    <div class="col-5 col-md-8 text">Dimo batta DGT-0723</div>
                                    <div class="col-1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"> <i-feather class="mr-2 correct_icon" name="check-circle"></i-feather></button>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"> <i-feather class="mr-2 trash_icon" name="trash-2" color="red"></i-feather></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="row">
                                    <div class="col-0.5 circle"></div>
                                    <div class="col-5 col-md-8 text">Three-wheel TRP-5234</div>
                                    <div class="col-1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"> <i-feather class="mr-2 correct_icon" name="check-circle" ></i-feather></button>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"> <i-feather class="mr-2 trash_icon" name="trash-2" ></i-feather></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="row">
                                    <div class="col-0.5 circle"></div>
                                    <div class="col-5 col-md-8 text">Lorry KGF-8956</div>
                                    <div class="col-1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"> <i-feather class="mr-2 correct_icon" name="check-circle"></i-feather></button>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"> <i-feather class="mr-2 trash_icon" name="trash-2"></i-feather></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="row">
                                    <div class="col-0.5 circle"></div>
                                    <div class="col-5 col-md-8 text">Bike BFN=9083</div>
                                    <div class="col-1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"> <i-feather class="mr-2 wrong_icon" name="x-circle"></i-feather></button>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"> <i-feather class="mr-2 trash_icon" name="trash-2"></i-feather></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="row">
                                    <div class="col-0.5 circle"></div>
                                    <div class="col-5 col-md-8 text">Bike UOF-8809</div>
                                    <div class="col-1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"> <i-feather class="mr-2 correct_icon" name="check-circle"></i-feather></button>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"> <i-feather class="mr-2 trash_icon" name="trash-2"></i-feather></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="row">
                                    <div class="col-0.5 circle"></div>
                                    <div class="col-5 col-md-8 text">Lorry UPF-9087</div>
                                    <div class="col-1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"> <i-feather class="mr-2 wrong_icon" name="x-circle"></i-feather></button>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"> <i-feather class="mr-2 trash_icon" name="trash-2"></i-feather></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="row">
                                    <div class="col-0.5 circle"></div>
                                    <div class="col-5 col-md-8 text">Dimo batta DGG-8998</div>
                                    <div class="col-1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"> <i-feather class="mr-2 correct_icon" name="check_circle"></i-feather></button>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"> <i-feather class="mr-2 trash_icon" name="trash-2"></i-feather></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                          </ul>
                      </div>
                  </div>
              </div>

              <!-- Vehicle type content -->
              <div class="col-12 col-md-12 col-lg-7 mt-3 mt-md-0 ">
                  <!-- Vehicle Register card -->
                  <div class="card">
                      <div class="card-body">
                         <!-- nav angular system  -->
                        <ul ngbNav #nav="ngbNav" class="nav-tabs">
                            <li ngbNavItem>
                              <a ngbNavLink class="btn-btn-primary">Details</a>
                              <ng-template ngbNavContent>
                                <form>
                                    <div class="row">
                                        <!-- register in setup -->
                                        <div class="col-5 col-md-8 col-lg-9 py-2">
                                            <div class="form-group">
                                                <label for="">Vehicle Type</label>
                                                <input
                                                  id="vehicleType"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Vehicle type"
                                                />
                                            </div>
                                            <div class="form-group">
                                                <label for="">Capacity</label>
                                                <input
                                                  id="Volume"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Volume in M ^ 3"
                                                />
                                                <br>
                                                <input
                                                  id="Load"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Load"
                                                />
                                            </div>
                                            <div class="form-group">
                                                <label for="">Fuel economy</label>
                                                <input
                                                  id="Fuel"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Fuel economy Km/L"
                                                />
                                            </div>
                                        </div>
                                        <!-- register pic and save or close -->
                                        <div class="col-1 col-md-3 col-lg-3">
                                            <div class="big_circle align ml-5"></div>
                                            <br><br><br><br>
                                            <button type="submit" class="btn btn-primary ml-5 button"> Save </button>
                                            <br><br>
                                            <button type="submit" class="btn btn-primary ml-5 button">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                              </ng-template>
                            </li>
                            <li ngbNavItem>
                              <a ngbNavLink class="btn-btn-primary">Add new</a>
                              <ng-template ngbNavContent>
                                <form>
                                    <div class="row">
                                        <!-- register in setup -->
                                        <div class="col-5 col-md-8 col-lg-9 py-2">
                                            <div class="form-group">
                                                <label for="">Vehicle Type</label>
                                                <input
                                                  id="vehicleType"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Vehicle type"
                                                />
                                            </div>
                                            <div class="form-group">
                                                <label for="">Lincense Plate Number</label>
                                                <input
                                                  id="linces"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Linces Plate No"
                                                />
                                            </div>
                                            <div class="form-group">
                                                <label for="">Capacity</label>
                                                <input
                                                  id="Volume"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Volume in M ^ 3"
                                                />
                                                <br>
                                                <input
                                                  id="Load"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Load"
                                                />
                                            </div>
                                            <div class="form-group">
                                                <label for="">Fuel economy</label>
                                                <input
                                                  id="Fuel"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Fuel economy Km/L"
                                                />
                                            </div>
                                        </div>
                                        <!-- register pic and save or close -->
                                        <div class="col-1 col-md-3 col-lg-3">
                                            <div class="big_circle align ml-5"></div>
                                            <br><br><br><br>
                                            <button type="submit" class="btn btn-primary ml-5 button"> Save </button>
                                            <br><br>
                                            <button type="submit" class="btn btn-primary ml-5 button">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                              </ng-template>
                            </li>
                          </ul>
                          <div [ngbNavOutlet]="nav" class="mt-2"></div>

                      </div>
                  </div>
                  <br><br>
                  <!-- vehicle type card -->
                  <div class="card">
                    <div class="card-body">
                      <form>
                          <div class="row">
                            <div class="col-5 col-md-8 col-lg-9 py-2">
                                <div class="form-group">
                                    <label for="">Select Vehicle Type</label>
                                    <input
                                      id="vehicleType"
                                      type="text"
                                      class="form-control"
                                      placeholder="Vehicle type"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="">License No</label>
                                    <input
                                      id="License"
                                      type="text"
                                      class="form-control"
                                      placeholder="License No"
                                    />
                                </div>
                            </div>
                            <!-- Vehicle pic add clear -->
                            <div class="col-1 col-md-3 col-lg-3">
                                <div class="big_circle align ml-5"></div>
                                <br>
                                <button type="submit" class="btn btn-primary ml-5 button"> Add [+] </button>
                                <br><br>
                                <button type="submit" class="btn btn-primary ml-5 button">Clear</button>
                            </div>
                          </div>
                      </form>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
