<div class="container-fluid">
    <div class="row">
      <app-side-bar></app-side-bar>

      <!-- Content of Vehicle management -->
      <div class="col main-content">
          <!-- Vehicle Content -->
          <div class="row justify-content-center">
              <!-- vehicle list -->
              <div class="col-12 col-md-12 col-lg-5">
                  <div class="card">
                      <div class="card-body">
                          <h4 class="card-title Vtext">Vehicles</h4>
                          <br>
                          <div class="input-group mb-4">
                            <input
                              type="text"
                              class="form-control"
                              [(ngModel)] = "searchText"
                              placeholder="Search vehicle by License number"
                              (keyup)="onSearch()"
                            />
                            <div class="input-group-append">
                              <button
                                class="btn btn-outline-primary search-bar"
                                type="button" (click)="onSearch()"
                              >
                                <i-feather class="mr-2" name="search"></i-feather>
                              </button>
                            </div>
                          </div>
                          <div
                            *ngIf="
                              vehicles != null;
                              then renderVehicleList;
                              else loadingVehicleList
                            "
                          ></div>
                           <!-- Vehicle name list -->
                          <ng-template #renderVehicleList>
                            <ul class="nav flex-column" >
                              <li class="nav-item" *ngFor="let vehicle of vehiclesFilter||vehicles" (click)="onVehicleSeletected(vehicle)">
                                  <div class="row">
                                      <div class="col-0.5 circle"></div>
                                      <div class="col-5 col-md-8 text">{{vehicle.license_plate}}</div>
                                      <div class="col-1">
                                          <div class="input-group-btn">
                                              <button class="btn btn-default" type="submit"> <span class="mr-2 wrong_icon" name="x-circle"></span></button>
                                          </div>
                                      </div>
                                      <div class="col-1">
                                          <div class="input-group-btn">
                                              <button class="btn btn-default" type="submit"> <i-feather class="mr-2 trash_icon" name="trash-2"></i-feather></button>
                                          </div>
                                      </div>
                                  </div>
                              </li>       
                            </ul>
                          </ng-template> 
                          <ng-template #loadingVehicleList>
                            <div class="row" style="min-height: 550px;">
                              <div class="col-12 my-auto text-center">
                                <i-feather name="loader"></i-feather>
                              </div>
                            </div>
                          </ng-template>
                        
                          
                      </div>
                  </div>
              </div>

              <!-- Vehicle type content -->
              <div class="col-12 col-md-12 col-lg-7 mt-3 mt-md-0 ">
                  <!-- Vehicle Register card -->
                  <div class="card">
                      <div class="card-body">
                         <!-- nav angular system  -->
                        <ul ngbNav #nav="ngbNav" class="nav-tabs">
                            <li ngbNavItem>
                              <a ngbNavLink class="btn-btn-primary">Details</a>
                              <ng-template ngbNavContent>
                                <div
                                  *ngIf="
                                  selectedVehicle != null;
                                  then renderDetails;
                                   else selectAVehicle
                                  "
                                 ></div>
                                 <ng-template #renderDetails>
                                  <form [formGroup]="AddVehicleForm">
                                    <div class="row">
                                        <!-- register in setup -->
                                        <div class="col-5 col-md-8 col-lg-9 py-2">

                                          <div class="form-group">
                                            <label for="">Lincense Plate Number</label>
                                            <input
                                              id="linces"
                                              formControlName="license_plate"
                                              type="text"
                                              value="{{selectedVehicle.license_plate}}"
                                              class="form-control"
                                              placeholder="Linces Plate No"
                                              [ngClass]="{ 'is-invalid': (license_plate.touched && license_plate.invalid)}"
                                            />
                                            <div *ngIf="!license_plate.value" class="invalid-feedback">
                                              Lisence Plate Number is required
                                             </div>
                                        </div>
                                            <div class="form-group">
                                                <label for="">Vehicle Type</label>
                                                <input
                                                  id="vehicleType"
                                                  formControlName="vehicle_type"
                                                  value="{{selectedVehicle.vehicle_type}}"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Vehicle type"
                                                  [ngClass]="{ 'is-invalid': (vehicle_type.touched && vehicle_type.invalid)  }"
                                                />
                                                <div *ngIf="!vehicle_type.value" class="invalid-feedback">
                                                  Vehicle Type is required
                                                 </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Capacity</label>
                                                <input
                                                  id="Volume"
                                                  formControlName="Capacity"
                                                  value="{{selectedVehicle.capacity}}"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Volume in M ^ 3"
                                                  [ngClass]="{ 'is-invalid': (Capacity.touched && Capacity.invalid)  }"
                                                />
                                                <div *ngIf="!Capacity.value" class="invalid-feedback">
                                                  Capacity is required
                                                 </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                  <label for="">Load</label>
                                                <input
                                                  id="Load"
                                                  formControlName="Load"
                                                  type="text"
                                                  value="{{selectedVehicle.load}}"
                                                  class="form-control"
                                                  placeholder="Load"
                                                  [ngClass]="{ 'is-invalid': (Load.touched && Load.invalid)  }"
                                                />
                                                <div *ngIf="!Load.value" class="invalid-feedback">
                                                  Load is required
                                                 </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Fuel economy</label>
                                                <input
                                                  id="Fuel"
                                                  formControlName="Fueleconomy"
                                                  type="text"
                                                  value="{{selectedVehicle.fuel_economy}}"
                                                  class="form-control"
                                                  placeholder="Fuel economy Km/L"
                                                  [ngClass]="{ 'is-invalid': (Fueleconomy.touched && Fueleconomy.invalid)  }"
                                                />
                                                <div *ngIf="!Fueleconomy.value" class="invalid-feedback">
                                                  Fuel economy is required
                                                 </div>
                                            </div>
                                        </div>
                                        <!-- register pic and save or close -->
                                        <div class="col-1 col-md-3 col-lg-3">
                                            <div class="big_circle align ml-5"></div>
                                            <br><br><br><br>
                                            <button type="submit" class="btn btn-primary ml-5 button"> Save </button>
                                            <br><br>
                                            <button type="submit" class="btn btn-primary ml-5 button">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                                 </ng-template>
                                
                              </ng-template>
                              <ng-template #selectAVehicle>
                                <div class="row" style="min-height: 550px;">
                                  <div class="col-12 my-auto">
                                    <h5 class="text-primary text-center">
                                      Select a vehicle to view details
                                    </h5>
                                  </div>
                                </div>
                            </ng-template>
                            </li>
                            <li ngbNavItem>
                              <a ngbNavLink class="btn-btn-primary">Add new</a>
                              <ng-template ngbNavContent>
                                <form [formGroup]="NewVehicleForm">
                                    <div class="row">
                                        <!-- register in setup -->
                                        <div class="col-5 col-md-8 col-lg-9 py-2">
                                            <div class="form-group">
                                                <label for="">Vehicle Type</label>
                                                <input
                                                formControlName="NewVehicleType"
                                                  id="vehicleType"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Vehicle type"
                                                  [ngClass]="{ 'is-invalid': (NewVehicleType.touched && NewVehicleType.invalid)  }"
                                                />
                                                <div *ngIf="!NewVehicleType.value" class="invalid-feedback">
                                                  Vehicle Type is required
                                                 </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Lincense Plate Number</label>
                                                <input
                                                  id="linces"
                                                  formControlName="NewLisencePlate"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Linces Plate No"
                                                  [ngClass]="{ 'is-invalid': (NewLisencePlate.touched && NewLisencePlate.invalid) }"
                                                />
                                                <div *ngIf="!NewLisencePlate.value" class="invalid-feedback">
                                                  Lisence Plate Number is required
                                                 </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Capacity</label>
                                                <input
                                                  id="Volume"
                                                  formControlName="NewCapacity"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Volume in M ^ 3"
                                                  [ngClass]="{ 'is-invalid': (NewCapacity.touched && NewCapacity.invalid)  }"
                                                />
                                                <div *ngIf="!NewCapacity.value" class="invalid-feedback">
                                                  Capacity is required
                                                 </div>
                                                <br>
                                                <input
                                                  id="Load"
                                                  formControlName="NewLoad"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Load"
                                                  [ngClass]="{ 'is-invalid': (NewLoad.touched && NewLoad.invalid)  }"
                                                />
                                                <div *ngIf="!NewLoad.value" class="invalid-feedback">
                                                  Load is required
                                                 </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Fuel economy</label>
                                                <input
                                                  id="Fuel"
                                                  formControlName="NewFueleconomy"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="Fuel economy Km/L"
                                                  [ngClass]="{ 'is-invalid': (NewFueleconomy.touched && NewFueleconomy.invalid)  }"
                                                />
                                                <div *ngIf="!NewFueleconomy.value" class="invalid-feedback">
                                                  Fuel economy is required
                                                 </div>
                                            </div>
                                        </div>
                                        <!-- register pic and save or close -->
                                        <div class="col-1 col-md-3 col-lg-3">
                                            <div class="big_circle align ml-5"></div>
                                            <br><br><br><br>
                                            <button type="submit" class="btn btn-primary ml-5 button"> Save </button>
                                            <br><br>
                                            <button type="submit" class="btn btn-primary ml-5 button">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                              </ng-template>
                            </li>
                          </ul>
                          <div [ngbNavOutlet]="nav" class="mt-2"></div>

                      </div>
                  </div>
                  <br><br>
                  <!-- vehicle type card -->
                  <div class="card">
                    <div class="card-body">
                      <form>
                          <div class="row">
                            <div class="col-5 col-md-8 col-lg-9 py-2">
                                <div class="form-group">
                                    <label for="">Select Vehicle Type</label>
                                    <input
                                      id="vehicleType"
                                      type="text"
                                      class="form-control"
                                      placeholder="Vehicle type"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="">License No</label>
                                    <input
                                      id="License"
                                      type="text"
                                      class="form-control"
                                      placeholder="License No"
                                    />
                                </div>
                            </div>
                            <!-- Vehicle pic add clear -->
                            <div class="col-1 col-md-3 col-lg-3">
                                <div class="big_circle align ml-5"></div>
                                <br>
                                <button type="submit" class="btn btn-primary ml-5 button"> Add [+] </button>
                                <br><br>
                                <button type="submit" class="btn btn-primary ml-5 button">Clear</button>
                            </div>
                          </div>
                      </form>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
