.Vtext {
    display: inline;
    color: var(--primary);
    font-weight: bolder;
    font-size: 1.0rem;
  }

  

.trash_icon {
    color: var(--danger);
    size: 18px;
    align-self: center;
    margin-left: 100%;
}

.correct_icon {
    color: var(--success);
    size: 18px;
}

.wrong_icon {
    color: var(--danger);
    size: 18px;
}

.circle {
    height: 25px;
    width: 25px;
    background-color: #4d5c84;
    border-radius: 50%;
    margin-left: 10px;
  }

.big_circle{
    height: 80px;
    width: 80px;
    background-color: #4d5c84;
    border-radius: 50%;
}



.text {
    display: inline;
    color: #4d5c84;
    font-weight: 400;
    font-size: 1.0rem;
  }
.button {
    width: 80px;
}

li{
    align-self: center;
    padding-left:15px ;
}

li:hover{
    cursor: pointer;
    border: solid 1px;
    border-color: var(--primary-lite);
    border-radius: 0.25rem;
    
}