<button class="btn btn-block btn-primary mb-1" (click)="refresh()">
  Refresh
</button>
<ng-data-table
  [id]="'newOrders'"
  [title]="'Orders'"
  [items]="newOrders"
  [minContentHeight]="200"
  [minContentWidth]="900"
  [showHeader]="true"
  [pageable]="true"
  [showRefreshButton]="false"
  [showRowSelectCheckbox]="true"
  [rowSelectable]="false"
  [selectOnRowClick]="true"
  [showSubstituteRows]="true"
  [persistTableState]="true"
  [showColumnSelector]="true"
  [expandableRows]="true"
  [showLoadingSpinner]="true"
  [selectMode]="'multi'"
  [showRowSelectAllCheckbox]="true"
  (rowClick)="openFormModal($event)"
>
  <ng-data-table-column
    [field]="'_id'"
    [title]="'Order ID'"
    [showInColumnSelector]="false"
    [sortable]="true"
    [filterable]="true"
    [filterPlaceholder]="'Search'"
    [width]="200"
  >
    <ng-template #ngDataTableRowExpand let-row="row">
      <app-schedule-orders-expanded
        *ngIf="row.expanded || row.dataLoaded"
        [row]="row"
      ></app-schedule-orders-expanded>
      <!-- show sub-table on expand operation -->
    </ng-template>
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'status'"
    [title]="'Status'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropdownFilterShowClearSelectionButton]="true"
    [dropdownFilterSearchable]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
    [filterPlaceholder]="'Search'"
    [width]="130"
  >
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'phone'"
    [title]="'Phone'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropdownFilterShowClearSelectionButton]="true"
    [dropdownFilterSearchable]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
    [filterPlaceholder]="'Search'"
  >
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'emergency_level'"
    [title]="'emergency_level'"
    [sortable]="true"
    [filterable]="true"
    [visible]="true"
    [filterPlaceholder]="'Search'"
  >
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'load'"
    [title]="'Weight'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropdownFilterShowClearSelectionButton]="true"
    [dropdownFilterSearchable]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
  >
  </ng-data-table-column>

  <ng-data-table-column
    [field]="'volume'"
    [title]="'volume'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropdownFilterShowClearSelectionButton]="true"
    [dropdownFilterSearchable]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
  >
  </ng-data-table-column>
</ng-data-table>
