
<div class="container-fluid">
    <div class="row">
        <app-side-bar></app-side-bar>
        <div class="col main-content">
            <!-- Start your code here -->

            <div class="row">
                 <!--store keeper list card-->
                <div class="col-lg-5 col-12">
                    <div class="card">
                        <div class="card-body ">
                            <h4 class="card-title stext">Stock keeper</h4><br><br>
                            <div class="input-group mb-4">
                                <input type="text" class="form-control" placeholder="Search a store keeper" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary search-bar "type="button">
                                      <i-feather class="mr-2"
                                      name="search"></i-feather>
                                    </button>
                                </div>
                            </div>
                            <!-- <div class="row "> -->
                            <!-- <div class="col-12"> -->
                            <ul class="nav flex-column text " *ngFor="let storekeeper of storekeepers">
                                <li class="nav-item storekeeper-details align-items-centre" (click)="onStorekeeperSelected(storekeeper)">
                                    <div class="row px-3 py-2">
                                        <div class="col-2 circle mx-1"></div>
                                        <div class="col-7">{{storekeeper.name.first}} {{storekeeper.name.middle}} {{storekeeper.name.last}}</div>
                                        <div class="col-3">
                                            <button class="btn btn-default" type="submit"> 
                                              <i-feather class="mr-2 text-danger"
                                              name="trash-2"></i-feather>
                                            </button>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- details form card -->
                <div class="col-lg-7 col-12 mt-sm-3 mt-lg-0">
                    <div class="card">
                        <div class="card-body ">
                            <!-- nav part -->
                            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                                <li ngbNavItem>
                                  <a ngbNavLink>Details</a>
                                  <ng-template ngbNavContent>
                                    <div *ngIf="selectedStorekeeper!=null; then renderDetails else selectAStorekeeper"></div>
                                    <ng-template #renderDetails>
                                      <h4 class="text-primary  mt-3">
                                        Details of {{selectedStorekeeper.name.first}} {{selectedStorekeeper.name.middle}} {{selectedStorekeeper.name.last}}
                                      </h4>
                                    <form [formGroup]="updateStorekeeperForm">
                                        <div class="row">
                                            <div class="col-9">
                                              <div class="form-group" formGroupName="name">
                                                        <label for="name">Name</label>
                                                        <input type="text" class="form-control mt-2" id="de_firstname" placeholder="First name" formControlName="first">
                                                        <input type="text" class="form-control mt-1" id="de_middlename" placeholder="Middle name" formControlName="middle">
                                                        <input type="text" class="form-control mt-1" id="de_lastname" placeholder="Last name" formControlName="last">             
                                              </div>
                                              <div class="form-group" formGroupName="address">
                                                <label for="address">Address</label>
                                                <input type="text" class="form-control mt-2" id="de_Door" placeholder="Door number" formControlName="no">
                                                <input type="text" class="form-control mt-1" id="de_street" placeholder="Street" formControlName="street">
                                                <input type="text" class="form-control mt-1" id="de_city" placeholder="City" formControlName="city">
                                              
                                              </div>
                                              <div class="form-group" formGroupName="contact">  
                                              <label for="contact">Contact</label>
                                              <input type="email" class="form-control mt-2" id="de_email" placeholder="email" formControlName="email">
                                              <input type="text" class="form-control mt-1" id="de_phone" placeholder="Mobile" formControlName="phone">
                                            
                                              </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="profile-circle"></div>
                                                <br><br><br><br>
                                                <button type="submit" class="btn btn-primary button ml-4">Save</button><br><br>
                                                <button type="submit" class="btn btn-primary button ml-4">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                    </ng-template>
                                    <ng-template #selectAStorekeeper>
                                        <div class="h4 mt-3 text-center text-primary">
                                            please select a storekeeper to view details
                                        </div>
                                    </ng-template>
                                  </ng-template>
                                </li>
                                <li ngbNavItem>
                                  <a ngbNavLink>Add new</a>
                                  <ng-template ngbNavContent>
                                    <h4 class="text-primary  mt-3">
                                        Register a new storekeeper  
                                    </h4>
                                    <form>
                                        <div class="row">
                                            <div class="col-9">
                                              <div class="form-group">
                                                        <label for="name">Name</label>
                                                        <input type="text" class="form-control" id="ad_firstname" placeholder="First name">
                                                        <input type="text" class="form-control" id="ad_middlename" placeholder="Middle name">
                                                        <input type="text" class="form-control" id="ad_lastname" placeholder="Last name">
                                              </div>
                                              <div class="form-group">

                                                <label for="address">Address</label>
                                                <input type="text" class="form-control" id="ad_Door" placeholder="Door number">
                                                <input type="text" class="form-control" id="ad_street" placeholder="Street">
                                                <input type="text" class="form-control" id="ad_city" placeholder="City">

                                              </div>
                                              <div class="form-group">

                                              <label for="contact">Contact</label>
                                              <input type="email" class="form-control" id="ad_email" placeholder="email">
                                              <input type="text" class="form-control" id="ad_phone" placeholder="Mobile">

                                              </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="profile-circle"></div>
                                                <br><br><br><br>
                                                <button type="submit" class="btn btn-primary button ml-4">Save</button><br><br>
                                                <button type="submit" class="btn btn-primary button ml-4">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                  </ng-template>
                                </li>
                              </ul>

                              <div [ngbNavOutlet]="nav" class="mt-2"></div>

                        </div>
                    </div>


                </div>
            </div> 

            <div class="row mt-3">
                <!-- history list -->
                <div class="col-lg-7  col-12">
                    <div class="card">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-7">
                            <h4 class="card-title stext">xxx schedule history</h4>
                        </div>
                        <div class="col-5">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" name="search" width="50px">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i-feather class="mr-2"
                                        name="search"></i-feather></button>
                                </div>
                            </div>
                        </div>
                        </div>

                        <table class="table table-hover">

                            <thead>
                              <tr>
                                <th>Date and time</th>
                                <th>schedule</th>
                                <th>No.of deliveries</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                              </tr>
                              <tr>
                                <td>Mary</td>
                                <td>Moe</td>
                                <td>mary@example.com</td>
                              </tr>
                              <tr>
                                <td>July</td>
                                <td>Dooley</td>
                                <td>july@example.com</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        </div>
                    </div>

                <!-- schedule list -->
                <div class="col-lg-5 col-12  mt-sm-3 mt-lg-0">
                    <div class="card">
                         <div class="card-body ">
                              <h4 class="card-title stext">xxx schedule history</h4><br>
                              <div class="d-flex justify-content-center">
                              <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" name="search" width="10px" >
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i-feather class="mr-2"
                                        name="search"></i-feather></button>
                                </div>
                            </div>
                        </div>
                        <br>

                    <!-- <div class="row"> -->
                        <div class="d-flex flex-row">
                            <div class="mr-auto p-0">
                        <div class="d-flex flex-column-reverse">
                        <div class="col-9">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Special title 1</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                            </div>
                          </div>
                        </div>
                        <div class="col-3"></div>
                        <br>
                        <div class="col-sm-9">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Special title 2</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                            </div>
                          </div>
                        </div>
                      </div>
                        </div>
                        <div class="p-2">

                        </div>


                    </div>



                    <!-- </div> -->
                    </div>
                    </div>
            </div>

        </div>
    </div>
</div>  
