.stext {
    display: inline;
    color: #4d5c84;
    font-weight: 400;
    font-size: 1.6rem;
  }

.text {
    display: inline;
    color: #4d5c84;
    font-weight: 400;
    font-size: 16px;
  }

.search-text {
    display: inline;
    color: #4d5c84;
    font-weight: 400;
    font-size: 1.0rem;
  }

.trash-icon{
    color: red;
    width: 18px;
    height: 18px;
}

.circle {
    max-height: 25px;
    max-width: 25px;
    background-color: var(--primary);
    border-radius: 50%;
  }

  .profile-circle {
    height: 80px;
    width: 80px;
    background-color:#4d5c84;
    border-radius: 50%;
    margin-left: 20px;
  }

.anyClass {
    height:5px;
    overflow-y: scroll;
  }

.scrollbar
{
	margin-left: 350px;
	float: left;
	height: 300px;
	width: 60px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-top: 5px;
}

.button {
  width: 80px;
}

.force-overflow
{
	min-height: 450px;
}

th {
  text-align: center;

}

td {
  text-align: center;
  font-size: 13px;
}

.storekeeper-details:hover{
  border: solid 1px;
  border-color: var(--primary-lite);
  border-radius: 0.25rem;
}

.dtext {
  display: inline;
  color: var(--primary);
  font-weight: 400;
  font-size: 1.6rem;
}

.circle {
  min-height: 30px;
  min-width: 30px;
  max-width: 30px;
  max-height: 30px;
  background-color: var(--primary);
  border-radius: 50%;
}

.profile-circle {
  height: 80px;
  width: 80px;
  background-color:var(--primary);
  border-radius: 50%;
  margin-left: 20px;
}

th {
  text-align: center;

}

td {
  text-align: center;
  font-size: 13px;
}

.driver-details:hover{
  border: solid 1px;
  border-color: var(--primary-lite);
  border-radius: 0.25rem;
}

.order{
box-shadow: none;
border-style: solid 1px;
}

.order:hover{
border-color:var(--primary-lite);
width: inherit;
}
