.search-input{
    width:100%;
}
.button-search{
   background-color:#4D5C84;
}
.table-header{
    background-color:#4D5C84;
    color:#ffffff;
}
.track-button{
    background-color:#4D5C84;
    color:#ffffff;
}
  
  