

<div class="container-fluid">
  <div class="row">
    <app-side-bar></app-side-bar>
    <div class="col main-content">
      <div class="card card-padd">          
<form>
  <div class="form-group">
      <div class="row">
          <div class="col-md-3 ">
             <input type="text" class="form-control search-input" id="exampleInputEmail1" placeholder="Search for vehicle">
        </div>

        <div class="input-group-btn">
          <button class="btn btn-default" type="submit"> <i class="mr-2" data-feather="search"></i></button>
        </div>

          <div class="col-md-9 " >
             
          </div>
  
      </div>    
   
  </div>
  </form>
<div class="table-responsive"> 
  <table class="table">
    <thead class="thead table-header">
      <tr>
        <th scope="col">#</th>
        <th scope="col">License No</th>
        <th scope="col"> Vehilce-Type </th>
        <th scope="col">Driver-ID</th>
        <th scope="col">Last delivery time</th>
        <th scope="col"></th>
        <th scope="col"></th>
 
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>1102</td>
        <td>Lorry</td>
        <td>12</td>
        
        <td>{{currentDate}}</td>
        <td><button class="btn btn-small track-button">Driver-Details</button></td>
        <td><button class="btn btn-small track-button">Track-Vehicle</button></td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>1118</td>
        <td>Lorry</td>
        <td>08</td>
        
        <td>{{currentDate}}</td>
        <td><button class="btn btn-small track-button">Driver-Details</button></td>
        <td><button class="btn btn-small track-button">Track-Vehicle</button></td>
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>1122</td>
        <td>Lorry</td>
        <td>22</td>
       
        <td>{{currentDate}}</td>
        <td><button class="btn btn-small track-button">Driver-Details</button></td>
        <td><button class="btn btn-small track-button">Track-Vehicle</button></td>
        
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>1002</td>
        <td>Lorry</td>
        <td>43</td>
        
        <td>{{currentDate}}</td>
        <td><button class="btn btn-small track-button">Driver-Details</button></td>
        <td><button class="btn btn-small track-button">Track-Vehicle</button></td>
        
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>1002</td>
        <td>Lorry</td>
        <td>51</td>
        
        <td>{{currentDate}}</td>
        <td><button class="btn btn-small track-button">Driver-Details</button></td>
        <td><button class="btn btn-small track-button">Track-Vehicle</button></td>
        
      </tr>
    </tbody>
  </table>
</div>
  </div>
<hr>
  <div class="card">
    <section>
      
    </section>
    
  </div>
  
</div>
</div>
</div>



