<div class="container">
  <div class="sign-in row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-8 col-10 align-self-center">
      <div class="text-center">
        <img
          src="assets/img/SmartCargoLogo.png"
          alt="smart-cargo-logo.png"
          width="150px"
          height="150px"
        />
      </div>
      <!-- login-form -->
      <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
        <ngb-alert
          [type]="'success'"
          (close)="closeAlert()"
          *ngIf="displayAlert"
          class="mt-3"
        >
          {{ validResponseMessage }}
          <a class="pr-2" [routerLink]="['/']">login</a>
        </ngb-alert>
        <div class="mt-3 py-5 card justify-content-center align-items-center">
          <div class="form-group">
            <label for="email">Password</label>
            <input
              id="password"
              type="password"
              class="form-control"
              [class.is-invalid]="password.touched && password.invalid"
              formControlName="password"
            />

            <div
              class="invalid-feedback"
              *ngIf="password.touched && password.invalid"
            >
              <span *ngIf="password.errors.required">Password is required</span>
              <span *ngIf="password.errors.minlength"
                >password should contain atleast
                {{ password.errors.minlength.requiredLength }} characters</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="password">Confrim Password</label>
            <input
              id="confirm-password"
              type="password"
              class="form-control"
              [class.is-invalid]="
                confirmPassword.touched && confirmPassword.invalid
              "
              formControlName="confirmPassword"
            />
            <div
              class="invalid-feedback"
              *ngIf="confirmPassword.touched && confirmPassword.invalid"
            >
              <span *ngIf="confirmPassword.errors.required"
                >Confrim password is required</span
              >
            </div>
          </div>

          <span
            *ngIf="
              password.valid &&
              confirmPassword.valid &&
              passwordResetForm.errors?.passwordNotMatch
            "
            class="text-center invalid-feedback d-block"
            >Provide password doesn't match with confirm password</span
          >

          <span
            *ngIf="passwordResetForm.errors?.inValidReqeust != null"
            class="text-center invalid-feedback d-block"
            >{{ passwordResetForm.errors.inValidReqeust }}</span
          >
          <button
            type="submit"
            class="mt-2 btn btn-primary"
            [disabled]="!passwordResetForm.valid"
          >
            Reset password   <span [class.d-none]="!isLoading"
            ><i class="mr-2" data-feather="loader"></i
          ></span>
          </button>
        <div class="col text-center mt-3">
          <a [routerLink]="['/']" >
            Sign-In
          </a>
          <a [routerLink]="['/forgot-password']" class="ml-4 ">
            Forgot-password
          </a>
        </div>
        </div>
      </form>
      <!-- end-of login-form -->
    </div>
  </div>
</div>
