
.sign-in {
  height: 90vh;
}

.card {
  background-color: #efefef !important;
  border-color: transparent !important;
  min-height: 250px;
}

a {
  text-decoration: underline;
}

.form-group {
  width: 80%;
}

.form-control {
  border-color: transparent !important;
  background-color: #f3f3f3 !important;
  -moz-box-shadow: 4px 4px 8px var(--primary-lite);
  -webkit-box-shadow: 4px 4px 8px var(--primary-lite);
  box-shadow: 4px 4px 8px var(--primary-lite);
}
