<div class="d-none d-md-block sidebar-sticky pt-3">
  <div class="row justify-content-center py-3">
    <div class="col-3">
      <img src="assets/img/SmartCargoLogo.png" alt="" width="80" height="80" />
    </div>
    <div class="mx-3 col-6 align-self-center profile-text">
      <h5>C.Ronaldo</h5>
      <span>Admin</span>
    </div>
  </div>

  <hr class="bg-white-half" />

  <ul class="nav flex-column">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/driver-management']"
        [routerLinkActive]="'active'"
      >
        <i-feather class="mr-2" name="user"></i-feather> Driver Management
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/store-keeper-management']"
        [routerLinkActive]="'active'"
      >
        <i-feather class="mr-2" name="package"></i-feather> Store-keeper
        Managment
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/vehicle-management']"
        [routerLinkActive]="'active'"
      >
        <i-feather class="mr-2" name="inbox"></i-feather> Vehicle Management
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/depot-management']"
        [routerLinkActive]="'active'"
      >
        <i-feather class="mr-2" name="map-pin"></i-feather> Depot Management
      </a>
    </li>
  </ul>

  <hr class="bg-white-half" />

  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/schedule-orders']"
        [routerLinkActive]="'active'"
      >
        <i-feather class="mr-2" name="clock"></i-feather> Schedule Orders
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/add-order-dimention']"
        [routerLinkActive]="'active'"
      >
        <i-feather class="mr-2" name="plus-square"></i-feather> Add Order
        Dimensions
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/track-vehicle']"
        [routerLinkActive]="'active'"
      >
        <i-feather class="mr-2" name="navigation"></i-feather> Track Delivery
        Vehicles
      </a>
    </li>
  </ul>

  <hr class="bg-white-half" />

  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/settings']"
        [routerLinkActive]="'active'"
      >
        <i-feather class="mr-2" name="clock"></i-feather> settings
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">
        <i-feather class="mr-2" name="log-out"></i-feather> Logout
      </a>
    </li>
  </ul>
</div>
