<div class="modal-header">
    <button type="button" class="closeModel" aria-label="Close"
     (click)="activeModal.dismiss('Cross click')">x
    </button>
  </div>
  <div class="modal-body">
    <p>Customer Details</p><br>
    <div class="row">
        <div class="col">
            <h6>Name</h6>
        </div>
        <div class="col">
            <h6>: Justin Septimus</h6>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h6>Address</h6>
        </div>
        <div class="col">
            <h6>: No 23, Lawrence Road Wellawatte</h6>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h6>Phone Number</h6>
        </div>
        <div class="col">
            <h6>: 0774356789</h6>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h6>Placed Date</h6>
        </div>
        <div class="col">
            <h6>: 15/12/2020</h6>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h6>OrderId</h6>
        </div>
        <div class="col">
            <h6>: 1100</h6>
        </div>
    </div>

  </div>
 