<div class="modal-header">
  <h4 class="modal-title">Add Order Dimention</h4>
  <button
    type="button"
    class="closeModel"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    x
  </button>
</div>
<!-- form for the add order dimention -->
<form [formGroup]="DimentionForm">
  <div class="modal-body">
    <h6>Order</h6>

    <div class="form-group">
      <label for="load">Weight</label>
      <input
        type="text"
        class="form-control"
        id="load"
        formControlName="load"
        placeholder="Enter weigth in kg"
        [ngClass]="{
          'is-invalid':
            (load.touched && load.invalid) || (load.value && load.invalid)
        }"
      />
      <div *ngIf="!load.value" class="invalid-feedback">load is required</div>
      <div *ngIf="volume.errors?.pattern" class="invalid-feedback">
        load should be a number value(maximum 4 places after point.)
      </div>
      <div *ngIf="volume.errors?.maxLength" class="invalid-feedback">
        load is Incorrect (should be Less than 10000)
      </div>
    </div>
    <div class="form-group">
      <label for="volume">volume</label>
      <input
        type="text"
        class="form-control"
        id="volume"
        formControlName="volume"
        placeholder="Enter volume in m3"
        [ngClass]="{
          'is-invalid':
            (volume.touched && volume.invalid) ||
            (volume.value && volume.invalid)
        }"
      />
      <div *ngIf="!volume.value" class="invalid-feedback">
        volume is required
      </div>
      <div *ngIf="volume.errors?.pattern" class="invalid-feedback">
        volume should be a number value(maximum 4 places after point.)
      </div>
      <div *ngIf="volume.errors?.maxLength" class="invalid-feedback">
        volume is Incorrect (should be Less than 10000)
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="updateOrderDimension()" class="btn btn-small submit">
      + Add
    </button>
    <button
      (click)="activeModal.dismiss('Close clicked')"
      class="btn btn-small cancelModel"
    >
      Cancel
    </button>
  </div>
</form>
<!-- end of form -->
