<div class="container-fluid">
    <div class="row">
      <app-side-bar></app-side-bar>
      <!-- Content of Depot Management -->
      <div class="col main-content">
          <div class="row justify-content-center">
            <div class="card">
                <div class="card-body">
                    <div class="col-9 md-9">
                        <div calss="card">
                            <div class="card-body">
                                <p>kjsndfbvishdbviuiwshbgvuiohweuijoghniuohewouignsdfkljnvbklbnlkjdfvsfdmnlklfbfnjnfjkbnjknfnnfbjnbnfbjjsjadsojnvsjsnbjknsd</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 md-3">
                        <div calss="card">
                            <div class="card-body">
                                <p>bvdvjnjdsnvjlknsdvlkjnsdkljfdrbfbbbbbbbb</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  