.button {
    width: 80px;
}
.big_circle{
    height: 80px;
    width: 80px;
    background-color: #4d5c84;
    border-radius: 50%;
}

.xcard {
    width: 800pt;
    height: 500pt;
}

.map-container {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-container iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.map-container-5{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-5 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.k-margin{
  margin-top: 450px;
}
