<div *ngIf="loading==''">
<div class="modal-body text-center">
  <h4 class="mb-2 text-primary">Preparing to Generate Route</h4>
  <p class="mb-3">Click confirm to proceed or Cancel to Revert</p>
</div>
<div class="text-center mb-2">
  <button type="button" class="mx-2 btn btn-default" (click)="generateRoute()">
    Confirm
  </button>

  <button type="button" class="mx-2 btn btn-primary" (click)="decline()">
    Cancel
  </button>
</div>
</div>
<div *ngIf="loading!=''" class="modal-body text-center">{{loading}}</div>
