/* importing bootstrap stylesheet */
@import "./bootstrap.css";

/* custom styles */

label {
  color: var(--primary);
  margin-bottom: 1px;
}

.card {
  -moz-box-shadow: 4px 4px 8px var(--primary-lite);
  -webkit-box-shadow: 4px 4px 8px var(--primary-lite);
  box-shadow: 4px 4px 8px var(--primary-lite);
}

.main-content {
  padding: 30px;
}

.btn.search-bar{
  border: solid 1px;
  border-color: var(--primary);
}
