<div class="modal-header">
  <button type="button" class="closeModel" aria-label="Close"
   (click)="activeModal.dismiss('Cross click')">x
  </button>
</div>
<div class="modal-body">
  

  <div class="timeline">
    <ul>
      <li>
        <div class="content">
          <h3>Order 1</h3>
          <p>colombo 3</p>
        </div>
        <div class="point"></div>
        <div class="date">
          <h4>Deliverd</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3>Order 2</h3>
          <p>colombo 4</p>
        </div>
        <div class="point"></div>
        <div class="date">
          <h4>Pending</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3>Order 3</h3>
          <p>colombo 6</p>
        </div>
        <div class="point"></div>
        <div class="date">
          <h4>Pending</h4>
        </div>
      </li>
      ...
    </ul>
  </div>
</div>