<div class="container-fluid">
  <div class="row">
    <app-side-bar></app-side-bar>

    <!-- Content of Admin Dashboard -->
    <div class="col main-content">
      <!-- status cards -->
      <div class="row justify-content-center">
        <!-- Status Cards -->
        <!-- Drivers Online -->
        <div class="col-12 col-lg-12 col-xl-4 mt-md-1">
          <div class="card">
            <div class="card-body text-center">
              <span class="status-text align-middle mx-2">Drivers</span>
              <div class="status-divider align-middle mx-2"></div>
              <span class="mx-2 align-middle status-description">Online</span>
              <span class="mx-2 align-middle status-number">
                <!-- {{
                drivers.length
              }} -->
            </span>
              <div
                class="status-divider status-divider-min align-middle mx-2"
              ></div>
              <span class="mx-2 align-middle status-description">Offline</span>
              <span class="mx-2 align-middle status-number">{{
                offlineDrivers
              }}</span>
            </div>
          </div>
        </div>
        <!-- End drivers online -->

        <!-- Orders -->
        <div class="col-12 col-lg-12 col-xl-4 mt-md-1">
          <div class="card">
            <div class="card-body text-center">
              <span class="status-text align-middle mx-2">Orders</span>
              <div class="status-divider align-middle mx-2"></div>
              <span class="mx-2 align-middle status-description">Pending</span>
              <span class="mx-2 align-middle status-number">{{
                pendingOrders
              }}</span>
              <div
                class="status-divider status-divider-min align-middle mx-2"
              ></div>
              <span class="mx-2 align-middle status-description"
                >Delivered</span
              >
              <span class="mx-2 align-middle status-number">{{
                deliveredOrders
              }}</span>
            </div>
          </div>
        </div>
        <!-- End orders -->

        <!-- Routes -->
        <div class="col-12 col-lg-12 col-xl-4 mt-md-1">
          <div class="card">
            <div class="card-body text-center">
              <span class="status-text align-middle mx-2">Routes</span>
              <div class="status-divider align-middle mx-2"></div>
              <span class="mx-2 align-middle status-description"
                >Scheduled</span
              >
              <span class="mx-2 align-middle status-number">{{
                scheduledRoutes
              }}</span>
              <div
                class="status-divider status-divider-min align-middle mx-2"
              ></div>
              <span class="mr-2 align-middle status-description"
                >Delivered</span
              >
              <span class="mx-2 align-middle status-number">{{
                deliveredRoutes
              }}</span>
            </div>
          </div>
        </div>
        <!-- end of routes -->
      </div>
      <!-- End of status cards -->
     
      <!-- Orders chart -->
      <div class="row mt-4">
        <div class="col-md-12 col-12">
          <div class="card">
            <div class="card-body">
              <h3>Scheduled statistics</h3>
             
              <!-- start of Scheduled statistics chart -->
              <app-schedule-statistic-chart></app-schedule-statistic-chart>
              <!-- End of Scheduled statistics chart -->

            </div>
          </div>
        </div>
      </div>


     
      <!-- End content of Admin Dashboard -->
    </div>
  </div>
</div>
